<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="" asp-controller="Home" asp-action="Index">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="m-menu__link ">
            <i class="m-menu__link-icon la la-home"></i>
            <span class="m-menu__link-text">
                Inicio
            </span>
        </a>
    </li>
</ul>
